<div class="container border p-2 my-2">
    <h1>{{blog.title}}</h1>
    <p>{{blog.content}}</p>
    <div class="tags">
        <span class="badge bg-primary rounded-pill px-3">{{blog.slug}}</span>

    </div>
    <a href="/allposts">View all posts</a>
</div>