<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    {{{body}}}
    {{!-- <ul class="list-group">
        <li class="list-group-item">p</li>
        <li class="list-group-item">p</li>
        <li class="list-group-item">
            <div class="col-1">

                <p class="blog-title text-bold">Learn HTML</p>
                <p class="blog-content">This is cotent</p>
            </div>
            <div class="col-2">
                <a href="/blog">Read more</a>
            </div>

        </li>
    </ul> --}}
</body>

</html>